# Data Types


1.   Structured data sources
      Eg :  Sensor data, Financial data, Weather data etc ..
2.   Unstructured data sources
      Eg:   Photographs and video, Mobile data



> The structured data is again classified into Numeric and Categorical data.Some of the common structured data types  are :    


*   Continuous (Examples: Height or Weight of an individual, Rate of Interest on loans, etc.)
*   Discrete (Examples: Student count in a class, Colour count in a Rainbow.)
*   Nominal (Examples: States in a country, zip codes of areas. )
*   Ordinal (Examples: Ratings for a restaurant (e.g. very good, good, bad, very bad), Level of Education of an individual (e.g. Doctorate, Post Graduate, UnderGraduate), etc.)
*   Binary (Examples: Fraudulent transaction (Yes or No), Cancerous Cell (True or False).)

# Encoding Categorical Data

  Encoding is a technique of converting categorical variables into numerical values so that it could be easily fitted to a machine learning model.


> Common Types of Encoding


*   Label Encoding
*   One hot Encoding
      > Example, suppose we have a column containing 3 categorical variables, then in one hot encoding 3 columns will be created each for a categorical variable.


*   Mean Encoding
    >In this method, we will convert the categories into their mean values based on the output.

# Role of Distance Measures


1.   A distance measure is an objective score that summarizes the relative difference between two objects in a problem domain.

2. Most commonly, the two objects are rows of data that describe a subject (such as a person, car, or house), or an event (such as a purchase, a claim, or a diagnosis).

3. Popular machine learning algorithms that use distance measures at their core is as follows:

      * K-Nearest Neighbors
      * Learning Vector Quantization (LVQ)
      * Self-Organizing Map (SOM)
      * K-Means Clustering

# 4 Common Types of Distance Metrics in Machine Learning

 1. Euclidean Distance
 2. Manhattan Distance
 3. Minkowski Distance
 4. Hamming Distance

In [1]:
import pandas as pd

data = {'HP1':[5, 4, 0, 0],
        'HP2':[4, 0, 0, 0],
        'HP3':[4, 0, 0, 3],
        'IS':[4, 5, 2, 0],
        'IM1':[0, 1, 4, 0],
        'IM2':[0, 0, 5, 0],
        'IM3':[0, 0, 0, 3]}

df = pd.DataFrame(data, index =['user1',
                                'user2',
                                'user3',
                                'user4'])
user_1 = df.iloc[0].tolist()
user_2 = df.iloc[1].tolist()
user_3 = df.iloc[2].tolist()
user_4 = df.iloc[3].tolist()
df

       HP1  HP2  HP3  IS  IM1  IM2  IM3
user1    5    4    4   4    0    0    0
user2    4    0    0   5    1    0    0
user3    0    0    0   2    4    5    0
user4    0    0    3   0    0    0    3

In [15]:
from scipy.spatial import distance
#import necessary libraries
from sklearn.metrics import mean_squared_error
from math import sqrt


# computing the euclidean distance
# Most machine learning algorithms including K-Means use this distance metric to measure the similarity between observations.

euclidean_distance = distance.euclidean(user_1,user_2)
print('Euclidean Distance b/w', user_1, 'and', user_2, 'is: ', euclidean_distance)


# computing the manhattan distance
manhattan_distance = distance.cityblock(user_1,user_2)
print('Manhattan Distance b/w', user_1, 'and', user_2, 'is: ', manhattan_distance)

# computing the minkowski distance with p=1
minkowski_distance = distance.minkowski(user_1,user_2, p=1)
print('minkowski Distance b/w', user_1, 'and', user_2, 'is: ', minkowski_distance)

minkowski_distance = distance.minkowski(user_1,user_2, p=2)
print('minkowski Distance b/w', user_1, 'and', user_2, 'is: ', minkowski_distance)

minkowski_distance = distance.minkowski(user_1,user_2, p=3)
print('minkowski Distance b/w', user_1, 'and', user_2, 'is: ', minkowski_distance)

# computing the cosine distance with p=1
cosine_distance = distance.cosine(user_1,user_2)
print('cosine Distance b/w', user_1, 'and', user_2, 'is: ', minkowski_distance)

# computing the jaccard distance with p=1
jaccard_distance = distance.jaccard(user_1,user_2)
print('jaccard Distance b/w', user_1, 'and', user_2, 'is: ', minkowski_distance)

Euclidean Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  5.916079783099616
Manhattan Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  11
minkowski Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  11.0
minkowski Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  5.916079783099616
minkowski Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  5.0787530781327
cosine Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  5.0787530781327
jaccard Distance b/w [5, 4, 4, 4, 0, 0, 0] and [4, 0, 0, 5, 1, 0, 0] is:  5.0787530781327

In [11]:
euclidean_distance = distance.euclidean(user_3,user_2)
print('Euclidean Distance b/w', user_3, 'and', user_2, 'is: ', euclidean_distance)

# computing the manhattan distance
manhattan_distance = distance.cityblock(user_3,user_2)
print('Manhattan Distance b/w', user_3, 'and', user_2, 'is: ', manhattan_distance)

# computing the minkowski distance with p=3

minkowski_distance = distance.minkowski(user_3,user_2, p=3)
print('minkowski Distance b/w', user_3, 'and', user_2, 'is: ', minkowski_distance)

# computing the cosine distance with p=1
cosine_distance = distance.cosine(user_3,user_2)
print('cosine Distance b/w', user_3, 'and', user_2, 'is: ', minkowski_distance)

# computing the jaccard distance with p=1
jaccard_distance = distance.jaccard(user_3,user_2)
print('jaccard Distance b/w', user_3, 'and', user_2, 'is: ', minkowski_distance)

Euclidean Distance b/w [0, 0, 0, 2, 4, 5, 0] and [4, 0, 0, 5, 1, 0, 0] is:  7.681145747868608
Manhattan Distance b/w [0, 0, 0, 2, 4, 5, 0] and [4, 0, 0, 5, 1, 0, 0] is:  15
minkowski Distance b/w [0, 0, 0, 2, 4, 5, 0] and [4, 0, 0, 5, 1, 0, 0] is:  6.240251469155711
cosine Distance b/w [0, 0, 0, 2, 4, 5, 0] and [4, 0, 0, 5, 1, 0, 0] is:  6.240251469155711
jaccard Distance b/w [0, 0, 0, 2, 4, 5, 0] and [4, 0, 0, 5, 1, 0, 0] is:  6.240251469155711